@media (min-width: 320px) and (max-width: 480px){
    .center{
        width: 100%;
    }
    .head{
        display: flex;
        flex-direction: row!important;
        justify-content: space-between;
        padding: 0 10px;
    }
    .head .logo-image{
        width: 120px;
    }
    .head .head-menu{
        display: none;
    }
    .head .close-button{
        display: block;
    }
    /* main */
    /* download */
    .main .load{
        display: flex;
        flex-direction: column;
    }
    .main .btn-play{
        display: block;
        margin-top: 20px;
    }
    .main .btn-play2{
        display: none;
    }
    /* Giới thiệu */
    .main .intro-item{
        padding: 18px;
    }
    /* footer */
    .footer {
        display: flex;
        flex-direction: column!important;
    }
    .footer .footer-item{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 10px;
    }
    .footer .item-text{
        padding: 0;
    }
    .footer .footer-item2{
        width: 100%;
        padding: 20px;
    }
}

@media (min-width: 481px) and (max-width: 767px){
    .center{
        width: 100%;
    }
    .head{
        width: 100%;
        display: flex;
        flex-direction: row!important;
        justify-content: space-between;
        padding: 0 10px;
    }
    .head .logo-image{
        width: 120px;
    }
    .head .head-menu{
        display: none;
    }
    .head .close-button{
        display: block;
    }
    /* main */
    /* download */
    .main .load{
        display: flex;
        flex-direction: column;
    }
    .main .btn-play{
        display: block;
        margin-top: 20px;
    }
    .main .btn-play2{
        display: none;
    }
    /* Giới thiệu */
    .main .intro-item{
        padding: 18px;
    }
    /* footer */
    .footer {
        display: flex;
        flex-direction: column!important;
    }
    .footer .footer-item{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 50px;
        /* margin-left: 20px; */
    }
    .footer .item-text{
        padding: 10px;
    }
    .footer .footer-item2{
        width: 100%;
        margin-top: 15px;
        padding: 0 50px;
    }
}

@media (min-width: 768px) and (max-width: 1025px){
   .main .load{
    padding: 20px;
   }
   .main .intro-item{
    padding: 20px;
   }
    
}